:root{
    --primary-color: #055a05;  /* forest green */
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Gorgia", serif;
    --body-font: Arial, Helvetical, sans-serif; 

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    margin: 0;
    padding: 0;
}
header, main, footer {
    width: 800px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.sociamedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article {
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}
.hero article img {
    float: right;
    width: 125px;
}
/* New layout styles for rafting site */
.main-content {
    background: #fff;
    width: 100px;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 0 0 20px 0;
    position: absolute;
}

header {
    color: #fff;
    width: 880px;
    margin: 0;
    text-align: 0;
}

nav a {
    margin: 0;
    text-align: left;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}
nav ul li {
    margin: 0 15px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.banner {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;

    
}
.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}
.banner-text {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1em;
    padding: 10px 0;
    background-color: #1a347a;
    font-size: 24px;
    line-height: 1.2;
    max-height: 3.6;
    overflow: hidden;
}

.info-box {
    background: #1a347a;
    justify-content: space-between;
    color: #fff;
    position: relative;
    align-items: center;
}
.info-box img {
    width: 30%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    object-fit: contain;
    padding: 1px;
    
}
.info-box p {
    width: 60%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: center;
}


footer {
    background: #fff;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 0.9em;
    color: #333;
    text-align: left;
    position: relative;
    top: 20px;
}

footer img, footer svg {
    height: 50px;
    margin: 5px;
    vertical-align: middle;
    text-align: left;
}