:root{
    --primary-color: #055a05;  /* forest green */
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Gorgia", serif;
    --body-font: Arial, Helvetical, sans-serif; 

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    margin: 0;
    padding: 0;
}
header, main, footer {
    width: 800px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.sociamedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article {
    top: 70%;
    left: 50%;
    position: absolute;
}
.hero article img {
    float: right;
    width: 125px;
}
/* New layout styles for rafting site */
.main-content {
    margin: 0;
    float: left; 
    max-width: 900px;   
}

.banner-text {
    background-color: darkblue;
    color: #fff;
    position: absolute;
    top: 290px;
    left: 340px;
    height: 25px;
}
.info-box {
    position: relative;
    top: 200px;
    right: 670px; 
    color: white;
    background-color: darkblue;
    height: 100px;
}
.info-box img {
    position: absolute;
    left: 600px;
    height: 100px;
    background-color: darkblue;
}
.section-title {
    background-color: darkblue;
    text-align: center;
    color: white;
    height: 25px;
}

footer {
    background: #fff;
    position: absolute;
    padding: 10px;
}

footer img, footer svg {
    height: 60px;
    margin-bottom: 80px;
    margin-top: 0;
}